.SocialMediaTab {
    display: flex;
    justify-content: space-between;
}

.Icon {
    font-size: 18px;
    color: #2476FA;
}

.Icon:hover {
    color: #333;
}

.Link {
    cursor: pointer;
    text-decoration: none;
    margin: 0 8px;
}