.Toolbar {
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #E5E5E5;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    z-index: 90;
}

.Fixed {
    position: fixed;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

.MobileOnly {
    display: none;
}

@media (max-width: 425px) {
    .DesktopOnly {
        display: none;
    }

    .Toolbar {
        border-bottom: none;
    }

    .MobileOnly {
        display: inline-block;
    }
}