.DrawerToggle {
    height: 70px;
    display: flex;
    cursor: pointer;
    align-items: center;
    display: flex;
    padding: 0 10px;
}

.menuText {
    display: inline-block;
    margin-right: 0.8em;
}

.ActiveText {
  color: white;
}

.icon {
    color: #2476FA;
    font-size: 12px;
}

.Close {
    background-color: #201E00;
}

@media (min-width: 500px) {
    .menuText:hover {
        color: #2476FA;
    }
}