.NavigationItem {
    margin: 10px 0;
    height: 1em;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

.active {
    border-bottom: 2px solid #2476FA;
    font-weight: 600;
}

.NavigationItem a {
    border-bottom: 2px solid white;
    color: black;
    text-decoration: none;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
    margin-right: 1.8em;
    margin-left: 1.8em;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    border-bottom: 2px solid #2476FA;
}

@media (max-width: 870px) {
    .NavigationItem {
        display: block;
    }
    
    .NavigationItem a {
        border-bottom: 1px solid #49A4FF;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        line-height: 1.1;
        padding: 0px;
        margin: 0px;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        color: white;
    }
}