.SideDrawer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #264880;
    padding: 10px 16px;
    box-sizing: border-box;
    margin-top: 70px;
}

.Open {
    display: block;
    z-index: 300;
  }
  
.Close {
    display: none;
}
  
.Logo {
    height: 11%;
    margin-bottom: 32px;
}

@media (min-width: 870px) {
    .SideDrawer {
        display: none;
    }

    .Open {
        display: none;
    }
}