.Home {
    margin-top: 60px;
    display: flex;
    padding: 0 24px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.MainTitle {
    font-size: 30px;
    font-family: 'Poppins';
    color: #333;
    margin-top: 50px;
}

.MainParagraph {
    display: flex;
    text-align: center;
    margin: 5px 12px;
}

.SpotlightContainer {
    width: 100vw;
    background-color: black;
    margin-top: 20px;
}

.SpotlightContent {
    font-size: 22px;
    color: white;
    margin: 1em 24px;
}

.SpotlightImage {
    max-width: 100%
}