.Home {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

/* body {margin: 0; padding: 0; overflow-x:hidden;} */

.MainContainer {
    display: flex;
}

.menuBtn {
    position: fixed;
    top: 0em;
    left: 35vw;
}

.menu2 {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 9s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 9s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {color: #333;}
    25%  {color: #333;}
    50%  {color: black;}
    100% {color: black;}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   {color: #333;}
    25%  {color: #333;}
    50%  {color: black;}
    100% {color: black;}
  }

@media (max-width: 500px) {

    .menuBtn {
        display: none;
    }

    .Home {
        padding: 0px;
        align-items: center; 
    }

    .MainContainer {
        flex-direction: column;
    }
    
}