.SpotlightContainer {
    width: 57vw;
    background-color: black;
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.SpotlightDate {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.SpotlightDateCont {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textLink {
    color: #69A2FE;
    text-decoration: none;
    border-bottom: 1px solid #69A2FE;
}

.SpotlightTitle {
    color: white;
    word-break: break-word;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.VerticalLine {
    background-color: #2476FA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 2px;
    height: 20px;
}

.SpotlightTitleCont {
    display: flex;
    flex: 3;
    padding: 0 3em;
}

.SpotlightItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top-width: 1px;
    border-top-color: #404040;
    border-top-style: solid;
}

.SpotlightImage {
    max-width: 100%
}

.RecentSpotlightsTitle {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
    line-height: 10px;
}

.DateText {
    color: white;
    margin: 0em 3.5em;
    display: flex;
    align-self: flex-start;
}

.SpotlightContent {
    font-size: 27px;
    color: white;
    margin: 1.3em 2em;
}

@media (max-width: 870px) {

    .SpotlightContainer {
        width: 100vw;
        background-color: black;
        margin-top: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .SpotlightContent {
        font-size: 20px;
        color: white;
        margin: 1em 1.5em;
    }

    .DateText {
        margin: 0em 2em;
    }

    .SpotlightTitleCont {
        padding: 0 2em;
    }
    
}

@media (max-width: 476px) {
    .SpotlightTitleCont {
        padding: 0 1em;
    }
}